<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="zlotindaniel.memorize">

    <application
        android:name=".MemorizeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".android.usecase.login.LoginActivity"
            android:exported="false"/>
        <activity
            android:name=".android.usecase.topics.TopicsActivity"
            android:exported="false"/>
        <activity
            android:name=".android.usecase.cards.CardsActivity"
            android:exported="false"/>
        <activity
            android:name=".android.usecase.edit.EditTopicActivity"
            android:exported="false"/>

    </application>

</manifest>
